@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-label {
    @apply block mb-2 text-sm font-medium text-gray-300;
  }

  .form-label.invalid {
    @apply text-red-500;
  }

  .form-input {
    @apply block w-full p-2.5 text-sm rounded-lg bg-gray-700 border border-gray-600 text-white placeholder-gray-400
  focus:ring-blue-500 focus:border-blue-500;
  }

  .form-input.invalid {
    @apply bg-red-50 border-red-500 text-red-500;
  }

  .form-button {
    @apply px-5 py-2.5 text-center font-medium rounded-lg text-sm w-full text-white bg-blue-600 
  hover:bg-blue-700 
  focus:ring-4 focus:outline-none focus:ring-blue-800
  disabled:opacity-50 disabled:cursor-not-allowed
  sm:w-auto;
  }

  .btn-outline-danger {
    @apply bg-transparent border border-red-600 text-red-600 hover:text-white hover:bg-red-700 focus:ring-red-800;
  }

  .btn-outline-success {
    @apply bg-transparent border  border-green-600 text-green-600 hover:text-white hover:bg-green-700 focus:ring-green-800;
  }

  .btn-outline-gray {
    @apply bg-transparent border  border-gray-600 text-gray-400 hover:text-white hover:bg-gray-700 focus:ring-gray-800;
  }
  
  .btn-outline-white {
    @apply bg-transparent border  border-white text-white hover:text-gray-800 hover:bg-white focus:ring-gray-400;
  }

  .btn-gray {
    @apply bg-transparent border  border-gray-600 text-gray-400 hover:text-white bg-gray-700 hover:bg-gray-900 focus:ring-gray-800;
  }

  .wrapper {
    @apply rounded-xl bg-gradient-to-r bg-gray-800 border border-gray-700 p-2 sm:p-6;
  }

  #root {
    @apply min-h-screen;
  }

  body {
    @apply bg-gray-900;
  }

  #root {
    @apply flex items-center flex-col;
  }
}
